<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS Theme from https://bootswatch.com/ -->
        <link rel="stylesheet" href="static/scss/bootstrap.min.css">

        {% if title %}
        <title>{{ title }} - FTDGraph</title>
        {% else %}
        <title>!FTDGraph!</title>
        {% endif %}


    </head>
    <body>
        <div><a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('new_deposit') }}">New Deposit</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('register') }}">Register</a>
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="static/js/bootstrap.min.js" </script>
    </body>
</html>
